selenium
bs4
apache-airflow
google-cloud-storage
python-dotenv
apache-airflow-providers-google
PyPDF2
pdfplumber
PyMuPDF
litellm
langchain
langchain-core
langgraph
fastAPI
uvicorn
python-multipart
mdit_plain
markdown-it-py
cohere-haystack
haystack-ai
snowflake-connector-python[pandas]
google-genai
